<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>

        {% block title %}

        {% endblock %} | Ортодонтия

    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href=" {{ url_for('index') }} ">Ортодонтия</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="#">Услуги</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Портфолио</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('posts.index') }}">Отзывы</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
        <form class="form-inline">
            <a href="{{ url_for('note') }}" class="btn btn-outline-success">Запишитесь на консультацию!</a>
        </form>
    </ul>

      <form class="form-inline my-2 my-lg-0">
          {% if current_user.has_role('admin') %}
          <a href="/admin" class="btn btn-outline-success mr-sm-2" type="submit">Admin</a>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
          {% endif %}
      </form>

  </div>
</nav>


{% block content_title %}

{% endblock %}

<p>
{% block content %}

{% endblock %}
</p>

</body>
</html>