{% extends 'base.html' %}


{% block title %}

   Главная

{% endblock %}


{% block content %}

   <div class="jumbotron jumbotron-fluid-light col-md-6" style="background-color: #FFFFFF;">
  <h1 class="display-4">
      Главная
  </h1>
  <p>
      Здесь будет основная информация и ссылки на остальные страницы. Готова страница "Отзывы".
      Есть админка.
      Вход в отзывах на кнопке Новый отзыв.
      Регистрация.
      Запись на консультацию.
  </p>
    <button type="button" class="btn btn-outline-success">Тут пока ничего нет.</button>
</div>


{% endblock %}

