{% extends 'base.html' %}


{% block title %}

   Главная

{% endblock %}


{% block content %}

   <div class="jumbotron" style="background-color: #FFFFFF;">
  <div class="container">
    <p><img src="images/IMG_2377.png" width="550" height="550" class="img-responsive rounded mx-auto d-block"></p>
    <h1 class="display-3 text-center">Dr.Ulker</h1>
      <p class="text-center">Сайт-портфолио. Тут должна быть какая-то главная информация, но у меня не хватило уже фантазии, поэтому просто добро пожаловать.</p>
      <form class="form-inline">
            <a href="{{ url_for('note') }}" class="btn btn-success mx-auto">Запишитесь на консультацию!</a>
        </form>
  </div>
</div>


{% endblock %}

