{% extends 'base.html' %}

{% block title %}
    Запись
{% endblock %}

{% block content_title %}
   <h1 class="display-4 offset-md-4 col-md-4">
      Оставьте свои данные, и мы Вам тут же перезвоним!
  </h1>
{% endblock %}

{% block content %}
    <div class="offset-md-4 col-md-4">
        <form action="{{ url_for('note')}}" method="POST">
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control")}}
                    {{ form.mobile.label(class="form-control-label") }}
                    {{ form.mobile(class="form-control",  pattern="[+]\d{1}\d{3}\d{3}\d{2}\d{2}", minlength="12", maxlength="12")}}
                    <div class="alert alert-primary" role="alert">Номер телефона должен быть в виде +71234567890</div>
                </div>
                    <button type="submit" class="btn btn-outline-success">Подтвердить</button>
            </form>
    </div>
{% endblock %}


