{% extends 'base.html' %}


{% block title %}

   Портфолио

{% endblock %}


{% block content %}

<div class="media col-md-6">
  <img src="images/2020-06-04_011221.png" class="mr-3" height="550" width="450"/>
    <div class="media-body col-md-6">
    <h5 class="display-4">Немного обо мне:</h5>
        <p>Училась я в одном из самых лучших медицинских университетов – в Первом МГМУ им. И.М. Сеченова. Закончила учебу с золотой медалью, чем, признаться, очень горжусь.</p>

        <p>Учиться было трудно и я тратила на это много сил и нервов (все, кто прошел учебу в медицинском, сейчас меня хорошо понимают). После 6 лет учебы в ПМГМУ я продолжила обучение в МГМСУ им. А.И. Евдокимова. Ординатуру по специальности Ортодонтия я проходила у замечательного профессора, у великолепной Слабковской Анны Борисовны. Мне действительно посчастливилось у нее учиться! Она дает очень много бесценных знаний своим ученикам и делает это с невероятной любовью и энергетикой! Сейчас я продолжаю учиться, посещаю всевозможные курсы, лекции и семинары. Благо специальность у нас настолько интересная, что на них можно ходить бесконечно!</p>

        <p>Работа тоже очень увлекает😉 Люблю своих пациентов! Все настолько доброжелательные и разносторонние. И с каждым складываются очень теплые, дружеские отношения. А это, по-моему, очень важно. И именно они стали инициаторами того, чтобы я делилась с вами результатами лечения и своей любовью к Ортодонтии!</p>
  </div>
</div>

<h5 class="display-4 text-center">Мои достижения:</h5>
<div class="row offset-md-4 col-md-4">
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Преуспевшему.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid " src="images/Hasund.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Nezar%20Watted.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/ICON.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Взгляд%20на%20эстетику.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Дентальная%20фотография%20Антошкиев.jpg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Дисфункция%20ВНЧС.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Мини%20имплантаты%20Венгрия.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Расширение%20верхней%20челюсти.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Реставрации%20фронта.jpeg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Сертификат%20Золотое%20Сечение.jpg" height="450" width="350"/></div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid" src="images/Сплинт-%20терапия.jpg" height="450" width="350"/></div>
</div>
{% endblock %}